/* Estilos base del body */
body {
	font-family: "Inter", sans-serif;
	background-color: #f8fafc; /* gris claro */
	color: #1e293b; /* slate-800 */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
